.wrapper__logout {
	background-image: linear-gradient(
		120deg,
		rgb(0, 0, 0),
		rgb(10, 18, 77),
		rgb(0, 0, 0)
	);
	flex-direction: column;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logoutBtn {
	color: aliceblue;
	background-color: var(--color-blue);
	padding: 10px 30px;
	border: none;
	border-radius: 7px;
	transition: 0.5s;
	font-size: 1rem;
}

.logoutBtn:hover {
	color: aliceblue;
	background-color: #0fbd71;
	padding: 10px 30px;
	border: none;
	border-radius: 7px;
	scale: 105%;
}
