* {
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
}

body {
	background-color: black;
}

.wrapper__login {
	background-image: linear-gradient(
		120deg,
		rgb(0, 0, 0),
		rgb(10, 18, 77),
		rgb(0, 0, 0)
	);
	flex-direction: column;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	animation: fadein forwards;
	animation-duration: 1s;
}

.wrapper__create {
	background-image: linear-gradient(
		120deg,
		rgb(7, 14, 61),
		rgb(4, 5, 31),
		rgb(7, 14, 61)
	);
	flex-direction: column;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	animation: fadein forwards;
	animation-duration: 1.5s;
}

.login-box,
.create-box {
	background-color: rgba(255, 255, 255, 0.1);
	padding: 50px 80px;
	width: 350px;
	height: auto;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
}

.login-box > form,
.create-box > form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.login-box-linkToPage {
	color: rgb(141, 141, 161);
	margin-top: 20px;
	cursor: pointer;
	transition: 0.5s;
}

.login-box-linkToPage:hover {
	color: rgb(255, 255, 255);
}

.login-box-label {
	color: rgba(255, 255, 255);
	font-size: 1.5rem;
	font-weight: 500;
	text-align: center;
	margin-bottom: 50px;
}

.login-box-userInputs {
	padding: 10px 20px;
	background: rgba(255, 255, 255, 0.2);
	border: none;
	margin: 5px 0;
	border-radius: 5px;
	width: 100%;
	color: var(--color-white);
}

.login-box-userInputs:focus {
	border: 2px solid #0066cc;
	box-shadow: 0 0 5px #0066cc;
	outline: none;
}

.login-box-button {
	width: 30%;
	padding: 10px 20px;
	border: none;
	margin-top: 30px;
	border-radius: 5px;
	background-color: var(--color-netflixRed);
	color: var(--color-white);
	font-size: 1rem;
	font-weight: 500;
	transition: 0.5s;
	cursor: pointer;
}

.login-box-profileText {
	text-align: left !important;
	color: rgba(164, 168, 226, 0.418);
	margin: 20px 0 5px 0;
}

.login-box-button:hover {
	box-shadow: 0 0 15px var(--color-netflixRed);
}

.login-box-CreateButton {
	width: 45%;
	padding: 10px 20px;
	border: none;
	margin-top: 30px;
	border-radius: 5px;
	background-color: var(--color-netflixRed);
	color: var(--color-white);
	font-size: 1rem;
	font-weight: 500;
	transition: 0.5s;
	cursor: pointer;
}

.login-box-CreateButton:hover {
	box-shadow: 0 0 15px var(--color-netflixRed);
}

.login-box-userInputs::placeholder {
	color: rgba(164, 168, 226, 0.418);
}

@keyframes fadein {
	to {
		opacity: 1;
	}
}
